*{
  box-sizing: border-box;
  margin: 0;
}
.app{
  width: 800px;
  margin: 50px auto;
}
.logs{
  background-color: #EAE2B7;
  padding: 20px;
  margin-top: 10px;
}
.item{
  display: flex;
  margin-bottom: 10px;
  padding: 6px;
  background-color: #fcbf49;
}
.item:last-child{
   margin-bottom: 0;
}
.item .date {
  width: 90px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}
.date .month{
  height: 30px;
  background-color: red;
  line-height: 30px;
  color: #fff;
}
.date .day{
  height: 60px;
  line-height: 60px;
  font-size: 40px;
}
.item .content{
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}
.content .desc{
  margin-top: 5px;
}
.content .time{
  margin-top: 10px;
}
.item .del{
  align-self: flex-start;
  color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}
.del:hover{
  color: red;
}
.stateele{
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-color: aquamarine;
  text-align: center;
}
.stateele button{
  width: 70px;
  height: 40px;
  font-size: 20px;
  margin:20px;
}

.count{
  float: left;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.hover{
  background-color: #EAE2B7;
}
.fancy {
  border: 5px solid pink;
}
.box{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.fancy2 {
  border: 4px dashed pink;
}

.case138-ul{
  list-style-type: none; 
  padding: 0px 10px;
}
.case138-li{
  margin-bottom: 10px; 
  display: grid; 
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
.nav152{
  text-align: center;
}
.btn152{
  margin:15px;
}
.div152{
  width: 100%;
  overflow: hidden;
}
.ul152{
   list-style: none;
   white-space: nowrap;
}
.li152{
  display: inline-block;
  padding: 10px;
}
.active162{
  background: rgba(0, 100, 150, 0.4);
}
.img162{
  padding: 10px;
  margin: -10px;
  transition: all 0.2s linear;
}
.dark201 { background: #222; color: #eee; }