@font-face {
  font-family: "Hind";
  src: url(../fonts/Hind-Guntur.ttf);
}
@font-face {
  font-family: "Did";
  src: url(../fonts/Didact-Gothic-Regular.ttf);
}
@font-face {
  font-family: "Hindsb";
  src: url(../fonts/Hind-Guntur-SemiBold.ttf);
}


